<!--<div class="container-fluid footer">-->
<!--<p>有任何建议或意见请 <a href="{:url('Index/product',['cid'=>18,'pid'=>6])}"> 联系我们</a> | 未经 <a href="{:url('Index/index')}">jinzhongkeji.com </a>-->
<!--同意，不得转载本网站之所有招聘信息及作品</p>-->
<!--<p>锦众科技有限公司版权所有 © 闽ICP备18005543号</p>-->
<!--</div>-->
<div class="container-fluid footer">
    <div class="container">
        <div class="footer-left">
            <ul>
                <li class="text-center"><a>公司</a></li>
                <li><a href="{:url('Index/product',['cid'=>7,'pid'=>2])}">经营理念</a></li>
                <li><a href="{:url('Index/product',['cid'=>8,'pid'=>2])}">公司架构</a></li>
                <li><a target="_blank" href="{:url('Index/product',['cid'=>12,'pid'=>4])}">集团动态</a></li>
                <li><a target="_blank" href="{:url('Index/product',['cid'=>13,'pid'=>4])}">行业资讯</a></li>
                <li><a target="_blank" href="{:url('Index/product',['cid'=>14,'pid'=>4])}">公告通知</a></li>
            </ul>

            <ul>
                <li class="text-center"><a>帮助</a></li>
                <li>
                    <a target="_blank" href="https://sou.zhaopin.com/jobs/searchresult.ashx?jl=%E5%8E%A6%E9%97%A8&kw=%E5%8E%A6%E9%97%A8%E9%94%A6%E4%BC%97%E7%A7%91%E6%8A%80%E6%9C%89%E9%99%90%E5%85%AC%E5%8F%B8&sb=0&sm=0&p=1&kt=2&isfilter=0&fl=682&isadv=0" class="">人才发展</a>
                </li>
                <li><a href="{:url('Index/product',['cid'=>30,'pid'=>29])}">产品售后</a></li>
                <li><a href="{:url('Index/product',['cid'=>18,'pid'=>6])}">联系我们</a></li>
            </ul>

        </div>
        <div class="footer-center">
            <p>关注我们：锦众科技</p>
            <img src="__STATIC__/index/img/icons/qrcode.png">
            <p>官方微信</p>
        </div>
        <div class="footer-right">
            <div class="top">
                <!--<img src="__STATIC__/index/img/icons/logo.png">-->
                <div>
                    <p>全国服务热线：</p>
                    <h3>0592-7161185</h3>
                </div>

            </div>
            <div class="bottom">
                <p>公司地址：福建省厦门市翔安区巷北工业园彬伊奴园区二号七层</p>
                <p>Email：jinzhongkeji@jinzhongkeji.com</p>
                <!--<p>Tel：0592-7161185</p>-->
                <p>© 闽ICP备18005543号 锦众科技有限公司版权所有</p>
            </div>
        </div>
    </div>
</div>
